<?xml version="1.0"?>
<config>
    <modules>
        <Flashy_Integration>
            <version>1.0.0</version>
        </Flashy_Integration>
    </modules>
    <default>
        <flashy>
            <flashy>
                <active>1</active>
                <log>1</log>
                <purchase>1</purchase>
                <flashy_key></flashy_key>
                <flashy_connected>0</flashy_connected>
            </flashy>
        </flashy>
    </default>
    <global>
        <blocks>
            <flashy>
                <class>Flashy_Integration_Block</class>
            </flashy>
        </blocks>
        <helpers>
            <flashy>
                <class>Flashy_Integration_Helper</class>
            </flashy>
        </helpers>
        <models>
            <flashy>
                <class>Flashy_Integration_Model</class>
                <resourceModel>flashy_resource</resourceModel>
            </flashy>
            <flashy_resource>
                <class>Flashy_Integration_Model_Resource</class>
                <entities>
                    <carthash>
                        <table>flashy_cart_hash</table>
                    </carthash>
                </entities>
            </flashy_resource>
        </models>
        <resources>
            <flashy_setup>
                <setup>
                    <module>Flashy_Integration</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </flashy_setup>
            <flashy_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </flashy_read>
            <flashy_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </flashy_write>
        </resources>
        <events>
            <customer_register_success>
                <observers>
                    <flashy>
                        <class>flashy/observer</class>
                        <method>customerRegistered</method>
                    </flashy>
                </observers>
            </customer_register_success>
            <adminhtml_customer_save_after>
                <observers>
                    <flashy>
                        <class>flashy/observer</class>
                        <method>customerRegistered</method>
                    </flashy>
                </observers>
            </adminhtml_customer_save_after>
            <newsletter_subscriber_save_before>
                <observers>
                    <flashy>
                        <class>flashy/observer</class>
                        <method>newsletterSubscriberChange</method>
                    </flashy>
                </observers>
            </newsletter_subscriber_save_before>
            <sales_order_save_after>
                <observers>
                    <test_suppliernotification>
                        <type>singleton</type>
                        <class>flashy/observer</class>
                        <method>salesOrderChange</method>
                    </test_suppliernotification>
                </observers>
            </sales_order_save_after>
            <sales_order_place_after>
                <observers>
                    <flashy_sales_order_place_after>
                        <type>singleton</type>
                        <class>flashy/observer</class>
                        <method>salesOrderPlaceAfter</method>
                    </flashy_sales_order_place_after>
                </observers>
            </sales_order_place_after>
            <checkout_cart_save_after>
                <observers>
                    <flashy_cart_hash>
                        <class>flashy/observer</class>
                        <method>checkoutCartChange</method>
                    </flashy_cart_hash>
                </observers>
            </checkout_cart_save_after>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <flashy after="Mage_Adminhtml">Flashy_Integration_Adminhtml</flashy>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <flashy>
                    <file>flashy.xml</file>
                </flashy>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <flashy translate="title" module="flashy">
                                            <title>Flashy Integration</title>
                                        </flashy>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <routers>
            <flashy>
                <use>standard</use>
                <args>
                    <module>Flashy_Integration</module>
                    <frontName>flashy</frontName>
                </args>
            </flashy>
        </routers>
        <layout>
            <updates>
                <flashy>
                    <file>flashy.xml</file>
                </flashy>
            </updates>
        </layout>
    </frontend>
</config>